In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
car=pd.read_csv("Cars.csv")

In [4]:
car.shape

(398, 9)

In [5]:
car.head(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst

In [14]:
col=car.columns.tolist()

In [17]:
col

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'name']

In [71]:
car.set_index('name')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,horse_div_weitas
name,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa,0.037100
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa,0.044679
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa,0.043655
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa,0.043694
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa,0.040591
...,...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa,0.030824
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe,0.024413
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa,0.036601
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa,0.030095
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa,0.030147

In [54]:
car.mpg.unique()

array([18. , 15. , 16. , 17. , 14. , 24. , 22. , 21. , 27. , 26. , 25. ,
       10. , 11. ,  9. , 28. , 19. , 12. , 13. , 23. , 30. , 31. , 35. ,
       20. , 29. , 32. , 33. , 17.5, 15.5, 14.5, 22.5, 24.5, 18.5, 29.5,
       26.5, 16.5, 31.5, 36. , 25.5, 33.5, 20.5, 30.5, 21.5, 43.1, 36.1,
       32.8, 39.4, 19.9, 19.4, 20.2, 19.2, 25.1, 20.6, 20.8, 18.6, 18.1,
       17.7, 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 21.6, 16.2,
       19.8, 22.3, 17.6, 18.2, 16.9, 31.9, 34.1, 35.7, 27.4, 25.4, 34.2,
       34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 41.5, 38.1, 32.1, 37.2, 26.4,
       24.3, 19.1, 34.3, 29.8, 31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3,
       43.4, 36.4, 44.6, 40.9, 33.8, 32.7, 23.7, 23.6, 32.4, 26.6, 25.8,
       23.5, 39.1, 39. , 35.1, 32.3, 37.7, 34.7, 34.4, 29.9, 33.7, 32.9,
       31.6, 28.1, 30.7, 24.2, 22.4, 34. , 38. , 44. ])

In [65]:
car['horse_div_weitas']=car.horsepower / car.weight

In [66]:
car.set_index('horse_div_weitas')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
horse_div_weitas,,,,,,,,,
0.037100,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
0.044679,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
0.043655,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
0.043694,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
0.040591,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
0.030824,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
0.024413,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
0.036601,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
0.030095,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
0.030147,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [76]:
car.drop(columns='horse_div_weitas', inplace=True)
car.reset_index(inplace=True)

In [77]:
car

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

**GRADED Questions (To be answered in the quiz)**

In [78]:
hp=car.horsepower.max()

In [80]:
car.loc[(car.horsepower==hp),['name']]

                   name
116  pontiac grand prix

In [86]:
car.loc[(car.mpg>=35),'name'].size

36

In [91]:
car.loc[((car.horsepower>100) & (car.weight<3000)),'origin'] # note this please:& requires parentheses around each condition

23     europe
45        usa
76     europe
113       usa
120    europe
122    europe
123     japan
180    europe
210     japan
242    europe
243     japan
271       usa
274    europe
276    europe
306       usa
307       usa
323       usa
333     japan
341       usa
361     japan
362     japan
386       usa
389       usa
Name: origin, dtype: object

In [92]:
car.loc[(car.origin=='japan'),'acceleration'].mean()

np.float64(16.17215189873418)

In [113]:
car_year=car.groupby(['model_year']).mpg.mean()
best_year = car_year.idxmax()
best_year

np.int64(80)

**UNGRADED**